@media screen and (max-width: 768px) {
    html, body {
        max-width: 768px;
    }
    
    .first_screen {
        height: 320px;
    }
    
    .container h1 {
        padding: 30px 34px 190px;
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0.05em;
    }
    .container {
        max-width: 700px;
    }

    .menu {
        display: none;
    }

    header .container {
      display: flex;
    }

    .wrap_ham {
      display: flex;
      gap: 40px;
    }
    .hamburger {
      display: block;
    }

   .blog_photo img {
    max-width: 340px;
    max-height: 280px;
   }

   .blog_tag {
    margin-top: 0px;
   }

   .blog_flex {
    gap: 20px;
  }

  .res {
    display: none;
  }

  .posts_wrap {
    flex-direction: column;
    gap: 20px;
  }

  .posts_row {
    display: flex;
    flex-direction: row;
  }

  .posts_reverse {
    flex-direction: row-reverse;
  }

  img {
    max-width: 340px;
  }

  .most_popular {
    flex-direction: row;
  }

  .posts_column {
    flex-direction: column;
  }

  .info_flex {
    display: block;
  }

  .info_right {
    margin-top: 70px;
   max-width: 700px;
  }

  .foot,
  .foot_flex {
    display: block;
    text-align: center;
  }
  .contacts_title {
    padding-top: 50px;
  }

  .contacts_icons {
    display: inline-flex;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
}


@media screen and (max-width: 320px) {
  html, body {
    max-width: 320px;
}

.container {
  max-width: 300px;
}

.logo {
  margin: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
}

.wrap_ham {
  display: flex;
  gap: 20px;
}

.hamburger {
  display: block;
}
  .first_screen {
    height: 500px;
  }

.container h1 {
  padding: 70px 0 0 0;
  font-size: 30px;
}

.posts_photo img {
  max-width: 290px;
}
.blog_photo img {
  max-width: 290px;
 }

.blog_wrap .blog {
    text-align: center;
}
 .blog_flex {
  flex-direction: column-reverse;
}

.posts_flex {
  flex-direction: column;
}

.most_popular {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contacts_title {
  font-size: 32px;
line-height: 42px;
letter-spacing: 0.05em;
color: #000000;
}

.copyright {font-size: 16px;
line-height: 166%;
text-align: center;
letter-spacing: 0.1em;
color: #000000;
}
}