@charset "UTF-8";
/*вибачаюсь що не добавляв міксіни і т.д) невеликий обєм коду, та і впевнений що костильовий,
того і подумав що може поки не треба тут використовувати, ну трошки зробив, розуміння наче є, дякую)*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v28-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v28-latin-regular.woff") format("woff"), url("../fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("../fonts/raleway-v28-latin-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/raleway-v28-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-500.woff2") format("woff2"), url("../fonts/raleway-v28-latin-500.woff") format("woff"), url("../fonts/raleway-v28-latin-500.ttf") format("truetype"), url("../fonts/raleway-v28-latin-500.svg#Raleway") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v34-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-700.woff") format("woff"), url("../fonts/open-sans-v34-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

.our_team {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  padding-left: 360px;
  padding-right: 360px;
  margin-bottom: 40px;
}

.title_1 {
  text-align: center;
  font-family: "Raleway";
  font-size: 500;
  font-size: 18px;
  line-height: 24px;
  color: #898F8F;
  text-align: center;
  text-transform: uppercase;
}

.title_2 {
  font-size: 60px;
  line-height: 66px;
  margin-top: 17px;
  font-family: "Roboto";
  color: #FFCC00;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  text-align: center;
}

.logo:before,
.logo:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  height: 1px;
  background-color: #FFCC00;
  position: relative;
}

.logo:before {
  margin-left: -100%;
  left: -5px;
}

.logo:after {
  margin-right: -100%;
  right: -5px;
}

.content {
  display: flex;
  justify-content: center;
}

.profile_section {
  border-left: 1px solid #FFCC00;
}

.photo {
  padding: 15px;
  position: relative;
}

.photo_wrap {
  margin: 60px 85px 65px 70px;
  max-width: 515px;
}

.profile_wrap {
  margin: 60px 70px 65px 85px;
  max-width: 515px;
  text-align: center;
}

.name {
  font-family: "Roboto";
  font-size: 36px;
  line-height: 42.19px;
  color: #666666;
  text-align: center;
}

.empty {
  margin: 0 auto;
  height: 25px;
  width: 100px;
  border-bottom: 1px solid #FFCC00;
  text-align: center;
  margin-bottom: 30px;
}

.front {
  font-family: "Raleway";
  font-size: 400;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
  margin-bottom: 30px;
}

.social ul li {
  display: inline-block;
}

.social {
  height: 30px;
  margin-bottom: 43px;
}

.text {
  font-family: "Raleway";
  font-size: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 18px;
}

.dotted {
  margin: 0 auto;
  width: 50px;
  height: 4px;
  display: flex;
  grid-gap: 5px;
  margin-bottom: 25px;
}

.long {
  width: 20px;
  background-color: #FFCC00;
}

.short {
  background-color: #FFCC00;
  width: 10px;
}

.view_profile_wrap {
  border: 1px solid #FFCC00;
  margin: 0 auto;
  max-width: 118px;
}

.view_profile {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 14px;
  color: #666666;
  margin: 10px 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.corners {
  position: relative;
  width: 430px;
  height: 430px;
}

.top, .bottom {
  position: absolute;
  width: 100px;
  height: 100px;
}

.top {
  top: 0;
  border-top: 1px solid #FFCC00;
}

.bottom {
  bottom: 0;
  border-bottom: 1px solid #FFCC00;
}

.left {
  left: 0;
  border-left: 1px solid #FFCC00;
}

.right {
  right: 0;
  border-right: 1px solid #FFCC00;
}

.btn {
  width: 30px;
  height: 30px;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  color: #CCCCCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  color: #5f5fbd;
  border-color: #5f5fbd;
}