/*вибачаюсь що не добавляв міксіни і т.д) невеликий обєм коду, та і впевнений що костильовий,
того і подумав що може поки не треба тут використовувати, ну трошки зробив, розуміння наче є, дякую)*/


@import 'fonts';

$yellow: #FFCC00;

@mixin font ($font_fam,$font_w) {
    font-family: $font_fam;
    font-size: $font_w;
}

@mixin fs_lh($size, $line_height) {
    font-size: $size;
    line-height: $line_height;
}

@mixin cent_up {
    text-align: center;
    text-transform: uppercase;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol {
    list-style: none;
} 
.our_team {
    max-width: 1170px;
    margin: 0 auto;
}

.title {
    padding-left: 360px;
    padding-right: 360px;
    margin-bottom: 40px;
}

.title_1 {
    text-align: center;
    @include font('Raleway', 500);
    @include fs_lh (18px,24px);
    color: #898F8F;
    @include cent_up();
}

.title_2 {
    @include fs_lh (60px,66px);
    margin-top: 17px;
    font-family: 'Roboto';
    color: $yellow;
    margin-bottom: 30px;
    @include cent_up();
}

.logo {
    text-align: center;
}

.logo:before,
.logo:after {
    content: "";

    display: inline-block;
    vertical-align: middle;
    width: 210px;
    height: 1px;
    background-color: $yellow;
    position: relative;
}
.logo:before {
    margin-left: -100%;
    left: -5px;
}
.logo:after {
    margin-right: -100%;
    right: -5px;
}

.content { 
    display: flex;
    justify-content: center;
}

.profile_section{
    border-left: 1px solid $yellow;
}

.photo {
    padding: 15px;
    position: relative;
}
.photo_wrap {
    margin: 60px 85px 65px 70px;
    max-width: 515px;
}

.profile_wrap {
    margin: 60px 70px 65px 85px;
    max-width: 515px;
    text-align: center;
}

.name {
    font-family: 'Roboto';
    @include fs_lh (36px,42.19px);
    color: #666666;
    text-align: center;
}

.empty {
    margin: 0 auto;
    height: 25px;
    width: 100px;
    border-bottom: 1px solid $yellow;
    text-align: center;
    margin-bottom: 30px;
}

.front {
    @include font('Raleway', 400 );
    @include fs_lh (24px,36px);
    color: #666666;
    margin-bottom: 30px;
}

.social ul li {
    display: inline-block;
}

.social {
    height: 30px;
    margin-bottom: 43px;
}

.text {
    @include font('Raleway', 500 );
    @include fs_lh (14px,24px);
    margin-bottom: 18px;
}

.dotted {
    margin: 0 auto;
    width: 50px;
    height: 4px;
    display: flex;
    grid-gap: 5px;
    margin-bottom: 25px;
}

.long {
    width: 20px;
    background-color: $yellow;
}

.short{
    background-color: $yellow;
    width: 10px;
}

.view_profile_wrap {
    border: 1px solid $yellow;
    margin: 0 auto;
    max-width: 118px;
}

.view_profile {
    font-family: 'Open Sans';
    @include fs_lh (14px,14px);
    color: #666666;
    margin: 10px 5px;
    text-decoration: none;
    @include cent_up();
   
}

.corners {
    position: relative;
    width: 430px; 
    height: 430px;
  }
  
  .top, .bottom {
    position: absolute;
    width: 100px;
    height: 100px;

  }
  
  .top {
    top: 0;
    border-top: 1px solid $yellow;
  }
  
  .bottom {
    bottom: 0;
    border-bottom: 1px solid $yellow;
  }
  
  .left {
    left: 0;
    border-left: 1px solid $yellow;
  }
  
  .right {
    right: 0;
    border-right: 1px solid $yellow;
  }

  .btn {
    width: 30px;
    height: 30px;
    border: 2px solid #CCCCCC;
    border-radius: 50%;
    color: #CCCCCC;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .btn:hover {
    color: rgb(95, 95, 189);
    border-color: rgb(95, 95, 189);
  }
