* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}


.second_section {
    padding: 70px 0;
    background: url(../img/bg.png) center bottom/cover no-repeat;
}
.title_second {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 50px;
}

.tools_flex {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin-bottom: 70px;
}

.tools_wrap{
    width: 270px;
}

.tools_icon {
    margin-bottom: 30px;
}

.tools_title{
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    color: #2F281E;
    margin-bottom: 16px;
}

.tools_content {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

.btn {
        height: 50px;
        width: 180px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: white;
        background-color: orange;
        border: none;
        border-radius: 4px;
     }

.tools_btn {
    text-align: center;
}

.foot_flex {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.header_li {
    color: #2F281E;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

.foot_links{
    margin-bottom: 15px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 26px;
}

.foot_links a {
    color: #544837;
}

.foot_links a:hover {
    color: #544837;
}

.foot_input {
    max-width: 340px;
}

.header_input {
    color: #2F281E;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

.foot_email > input {
    margin-bottom: 25px;
    padding: 0 10px;
    width: 340px;
    height: 50px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.foot_email >input::placeholder {
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
}



