@media screen and (max-width: 1360px) {
    html, body {
        max-width: 1360px;
    }

    .container {
        max-width: 1140px;
        width: 100%;
    }
     .why_right {
        padding: 124px 0 124px 0;
      }
    
    .img_right_first {
        margin-right: 110px;
      }
    
      .img_right_second {
        margin-left: 111px;
      }

      .spain_wrap {
        padding-top: 220px;
        padding-bottom: 120px;
        max-width: 558px;
      }

      .review {
        max-height: 308px;
      }
}

@media screen and (max-width: 1024px) {
    html, body {
        max-width: 1024px;
    }

    .container {
        max-width: 960px;
        width: 100%;
    }
    .img_right_first {
        margin-right: 36px;
      }
    
      .img_right_second {
        margin-left: 36px;
      }

      .why_left {
        padding: 190px 24px 196px 0;
      }

   
      .spain_wrap_second {
        padding: 220px 0 120px 410px;
    }

    .review {
        max-height: 336px;
      }
}


@media screen and (max-width: 768px) {
    html, body {
        max-width: 768px;
    }

    .container {
        max-width: 720px;
        width: 100%;
    }

    #header {
        max-height: 136px;
    }
    .head {
        flex-direction: column;
        text-align: center;
    }
    .main_menu ul {
        display: inline-flex;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .why {
        flex-direction: column-reverse;
    }

    .why_right {
        display: flex;
        justify-content: space-between;
        padding: 60px 0 32px 0;
    }

    .why_left {
        padding: 0 0 60px 0;
        text-align: center;
      }

    .img_right_first {
        margin-right: 0;
      }
    
      .img_right_second {
        margin-top: 0;
        margin-left: 0;
      }

      .steps_flex {
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 0;
      }

      .icon_flex {
        margin-bottom: 60px;
      }

      .review_photo {
        flex-direction: column;
      }

      .what_say_wrap {
        padding-top: 60px;
      }
}

@media screen and (max-width: 576px) {
    html, body {
        max-width: 576px;
    }

    .container {
        max-width: 540px;
        width: 100%;
    }

    form {
        width: 540px;
    }

    .why_right img {
        max-width: 258px;
    }

    .review {
        max-height: 364px;
    }
}   